@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$light-blue-palette);
$accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    )
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    )
  )
);

@include mat.all-component-themes($dark-theme);

.light_mode {
  @include mat.all-component-colors($light-theme);

  .snackbar-success,
  .snackbar-error {
    color: white;
  }

  .snackbar-success::before {
    color: #9ce2b6;
  }

  .snackbar-error::before {
    color: #fc9494;
  }

  td.mat-cell,
  th.mat-header-cell {
    border-color: rgba(0, 0, 0, 0.12);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

[bold] {
  font-weight: 500;
}

snack-bar-container.mat-snack-bar-container {
  display: flex;
  align-items: center;
}

.snackbar-success::before {
  font-family: 'Material Icons';
  content: '\f013';
  color: #4caf50;
  margin-right: 8px;
}

.snackbar-error::before {
  font-family: 'Material Icons';
  content: '\e000';
  color: #f44336;
  margin-right: 8px;
}

td.mat-cell,
th.mat-header-cell {
  border-color: rgba(255, 255, 255, 0.12);
}

.mat-bottom-sheet-container {
  border-radius: 32px 32px 0 0;
}

mat-form-field[short] .mat-form-field-infix {
  display: flex;
}
