mat-toolbar[navbar] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 1.5px -1.5px #0d102517;
  height: 64px;

  mat-toolbar-row {
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
  }
}

mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav-content {
  padding-top: 64px;
  max-width: 992px;
  margin: 0 auto;
}

button[mat-fab] {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 20;

  mat-icon {
    font-size: 48px;
    margin-top: -24px;
    margin-left: -24px;
  }

  @media (min-width: 1232px) {
    bottom: 48px;
    right: calc(((100vw - 1232px) / 2) + 32px);
  }
}
