<ngx-ui-loader
  [fgsColor]="primaryColor"
  [pbColor]="primaryColor"
  [fgsType]="SPINNER.pulse"
>
</ngx-ui-loader>

<mat-toolbar navbar>
  <mat-toolbar-row>
    <a routerLink="/" mat-button><h1>Admin</h1></a>
    <button mat-icon-button (click)="changeTheme()" title="Switch Theme">
      <mat-icon outlined>{{
        themes.indexOf(themeMode) === 0 ? themes[1] : themes[0]
      }}</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #snav
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [mode]="'over'"
    [position]="'end'"
  >
    <obum-editor (cancel)="snav.close()" *ngIf="snav.opened"></obum-editor>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
