mat-toolbar[navbar] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 1.5px -1.5px #0d102517;
  height: 64px;

  mat-toolbar-row {
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
  }
}

mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav-content {
  padding-top: 64px;
  max-width: 992px;
  margin: 0 auto;
}

