<ngx-ui-loader
  [fgsColor]="primaryColor"
  [pbColor]="primaryColor"
  [fgsType]="SPINNER.pulse"
>
</ngx-ui-loader>

<mat-toolbar navbar>
  <mat-toolbar-row>
    <span>Admin</span>
    <button mat-icon-button (click)="changeTheme()" title="Switch Theme">
      <mat-icon outlined>{{
        themes.indexOf(themeMode) === 0 ? themes[1] : themes[0]
      }}</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
   <mat-sidenav
    #snav
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [mode]="'over'"
    [position]="'end'"
  >
    <obum-editor (cancel)="snav.close()"></obum-editor>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>Admin</h1>

    <button mat-fab (click)="newLink()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
