<div container>
  <div header>
    <h2>New Link</h2>
    <button mat-mini-fab (click)="cancel.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="link" (ngSubmit)="saveLink($event)">
    <mat-form-field [floatLabel]="'always'" short>
      <mat-label>Shortened</mat-label>
      <span bold>obum.me/</span>
      <input
        [autofocus]="true"
        matInput
        [formControl]="short"
        type="text"
        required
        (input)="ls.setItem(LS_SHORT_KEY, short.value)"
      />
      <mat-error *ngIf="short.invalid">{{
        long.hasError('pattern')
          ? 'Only alphanumeric characters'
          : 'Shortened is required.'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field [floatLabel]="'always'" long>
      <mat-label>Full URL</mat-label>
      <input
        matInput
        [formControl]="long"
        type="text"
        (input)="ls.setItem(LS_LONG_KEY, long.value)"
        required
      />
      <mat-error *ngIf="long.invalid">{{
        long.hasError('pattern')
          ? 'Start with https://'
          : 'Full URL is required.'
      }}</mat-error>
    </mat-form-field>

    <div submit-button-container>
      <button mat-raised-button color="accent">
        <mat-icon>check</mat-icon>
        <span>Create</span>
      </button>
    </div>
  </form>
</div>
